aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
pyrogram
hachoir
lyricsgenius
py-tgcalls==0.8.6
wget
python-dotenv
youtube-search-python
youtube-search
speedtest-cli
motor
psutil
requests
rich
dnspython
yt-dlp==2022.2.4
tgcrypto
gitpython
heroku3
